export(write_bundle)
export(load_study)
export(gene_values)
export(read_graph_study)
export(prepare_study_data)
export(prepare_study_from_eset)
export(prepare_study)
export(run_app)
export(build_app)
S3method(print, scminer_study)
importFrom(methods, as, new)
importFrom(Matrix, sparseMatrix)
